img{
	height:25px;
}
.btn{
	margin-right:5px;
}
.titles{
	border:1pw solid black;
	height:600px;
	background-color:#bfdbf2;
}

.mail_data{
	border:1pw solid black;
	height:600px;

}

.mail_body{
	border:1pw solid black;
	height:600px;

	width:800px;
}

.container{
	
	background-color:pink;

}

.actions{

	height:30px;
}

ul{
	 list-style-type: none;
}
a{
	color: black;
	text-decoration: none !important;;
}

.list{
	height:15px;
}

.mail_data{
	border-right:1px solid black;
}
.mail_body{
	border-right:1px solid black;
}
.info-mail{
	padding-bottom:5px;
}
.info-mail:hover{
	border: 1px solid gray;
	background-color:  #c1e1fb;
}
